<h3>RegistroPicker</h3>

<div class="row g-3">
    <div class="col-md-4">
        <label class="form-label"><strong>Tipo de Registro</strong></label>
        <select class="form-select" @bind="TipoId">
            <option value="0">Seleccione un tipo</option>
            @foreach (var tipo in @*TipodeRegistro*@)
            {
                <option value="@tipo.Id">@tipo.Descripcion</option>
            }
        </select>
    </div>

    <div class="col-md-3">
        <label class="form-label"><strong>Cantidad</strong></label>
        <input type="number" class="form-control" @bind="Cantidad" />
    </div>

    

    <div class="col-md-2 d-flex align-items-end">
        <button type="button" class="btn btn-success bi bi-plus" @onclick="TriggerSelection">
            Agregar
        </button>
    </div>

    @if (!string.IsNullOrEmpty(ErrorMensaje))
    {
        <div class="col-12">
            <div class="alert alert-danger mt-2">@ErrorMensaje</div>
        </div>
    }
</div>


}
@code {
    public string ErrorMensaje{ get; set; }

    //tener pendiente que este picker es para la clase extra a registro  por ejemplo seria como tipoPicker
}
